header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#turnOnOff {
    padding: 4px 10px;
    font-weight: bold;
    border: none;
    background: rgb(219, 218, 214);
    border-radius: 8px;
}

#turnOnOff:hover {
    background: rgb(235, 235, 154);
}